<!DOCTYPE html>
<html>
<head>
    <title>CarShare - сервис каршеринга</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ yandexApiKey }}&lang=ru_RU"
            type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="{{ base_path ~ directory }}/javascripts/main.js"></script>
    <link rel="icon" href="{{ base_path ~ directory }}/favicon.ico" type="image/x-icon"/>
</head>
<body>
{#HEADER#}
<header class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-dark light-blue lighten-4">
                <a class="navbar-brand logo" href="/">
                    <img src="{{ base_path ~ directory }}/images/logo.png" class="logo" alt="">
                    <p class="lead">CarShare</p>
                </a>
                <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent1"
                        aria-controls="navbarSupportedContent1" aria-expanded="false"
                        aria-label="Toggle navigation"><span class="dark-blue-text"><i
                                class="fas fa-bars fa-1x"></i></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                    <ul class="navbar-nav mr-auto">
                        {% if user.info.id == null %}
                            <li class="nav-item {% if active == '/login' %} active {% endif %}">
                                <a class="nav-link" href="/login">Авторизация</a>
                            </li>
                        {% else %}
                            {% if user.info.is_admin == 1 %}
                                <li class="nav-item {% if active == '/admin' %} active {% endif %}">
                                    <a class="nav-link" href="/admin">Администрирование</a>
                                </li>
                            {% endif %}
                            <li class="nav-item {% if active == '/' %} active {% endif %}">
                                <a class="nav-link" href="/">Главная</a>
                            </li>
                            <li class="nav-item {% if active == '/cars' %} active {% endif %}">
                                <a class="nav-link" href="/cars">Автомобили</a>
                            </li>
                            <li class="nav-item {% if active == '/trips' %} active {% endif %}">
                                <a class="nav-link" href="/trips">Мои поездки</a>
                            </li>
                            <li class="nav-item {% if active == '/account' %} active {% endif %}">
                                <a class="nav-link" href="/account">Аккаунт</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Выход</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
{#CONTENT#}
<div class="container content">
    <div class="row">
        {% block content %}

        {% endblock %}
    </div>
</div>
{#FOOTER#}
<footer class="container-fluid">

</footer>
{#CHAT#}

<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-chat" data-toggle="modal" data-target="#modalChat">
    <i class="fas fa-comment"></i>
    <span>Чат</span>
</button>
<!-- Modal chat -->
<div class="modal fade" id="modalChat" tabindex="-1" role="dialog" aria-labelledby="modalChatLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalChatLabel">Чат с пользователями</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="chat-body">
                    <div class="chat-item" v-for="chatItem in chat">
                        <div class="chat-item-info">
                            <img class="img-small" src="{{ base_path ~ directory }}/images/nav-me-icon.png" alt="">
                            <div>
                                <p class="lead">${ chatItem.name } ${ chatItem.surname }</p>
                                <p>${ chatItem.ts }</p>
                            </div>
                        </div>
                        <div class="text">${ chatItem.msg }</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="chat-send">
                    <input type="text" name="chat-box" class="form-control" placeholder="Введите Ваше сообщение ..." v-model="message">
                    <button type="button" class="btn btn-success" id="send-message" @click="sendMessage"><i class="fa fa-paper-plane"
                                                                                       aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
